@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Super Bikes World</h1>
    <p>Info about Super Bikes by <strong>Mohit</strong><sub>(MD arora)</sub></a>.</p>
    <p>Current Date and time : @DateTime.Now</p>
</div>
