@page
@model MDsSuperBikes.Pages_Bikes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bike</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bike.ID" />
            <div class="form-group">
                <label asp-for="Bike.ModelName" class="control-label"></label>
                <input asp-for="Bike.ModelName" class="form-control" />
                <span asp-validation-for="Bike.ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.CompanyName" class="control-label"></label>
                <input asp-for="Bike.CompanyName" class="form-control" />
                <span asp-validation-for="Bike.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.BikeType" class="control-label"></label>
                <input asp-for="Bike.BikeType" class="form-control" />
                <span asp-validation-for="Bike.BikeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.Torque" class="control-label"></label>
                <input asp-for="Bike.Torque" class="form-control" />
                <span asp-validation-for="Bike.Torque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.EngineCC" class="control-label"></label>
                <input asp-for="Bike.EngineCC" class="form-control" />
                <span asp-validation-for="Bike.EngineCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.TopSpeed" class="control-label"></label>
                <input asp-for="Bike.TopSpeed" class="form-control" />
                <span asp-validation-for="Bike.TopSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bike.DateOfLaunch" class="control-label"></label>
                <input asp-for="Bike.DateOfLaunch" class="form-control" />
                <span asp-validation-for="Bike.DateOfLaunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
